profiles {
  slurm {
    process.executor = 'slurm'
    process.memory = '10 GB'
    process.queue = 'main'
    withName: '_idx|_map' {
      memory = '160GB'
    }
  }

  local {
    process.executor = 'local'
  }

  apptainer {
    conda.enabled           = true 
    apptainer.enabled       = true
    apptainer.autoMounts    = true
    docker.enabled          = false
    process {
        withName: '_idx|_map' {
            memory = '160GB'
        }
        beforeScript = 'source ~/anaconda3/etc/profile.d/conda.sh; conda activate apptainer; export PATH=${PATH}:${CONDA_PREFIX}/bin'
    }
  }
}